body {
  font-size: 16px !important;
}
a {
  color: #3b82f6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}
summary,
.expand-line {
  cursor: pointer;
}
.expand-line {
  background-clip: content-box;
  width: 3px;
  min-width: 3px;
  padding: 0 0.4rem 0 0.4em;
  margin: 0 0.4rem 0 -0.4em;
  background-color: #cccccc;
}
.expand-line:hover {
  background-color: #aaaaaa;
}
.node-title:hover {
  color: #3b82f6;
}
